<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="UNIVAFU">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>UNIVAFU - GESTION TURISTICA</title>
    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../../assets/css/fontawesome.css">
    <link rel="stylesheet" href="../../assets/css/global.css">
    <link rel="stylesheet" href="../../assets/css/owl.css">
    <link rel="stylesheet" href="../../assets/css/lightbox.css">
    <link rel="stylesheet" href="../../assets/css/about.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">

</head>

<body onload="loadNavigation()">

    <!-- Sub Cabecera -->
    <div class="sub-header">
        <div class="container">
            <ul>
                <li><a href="https://es-la.facebook.com/univafu.oficial/" target="_blank"><i
                            class="fa fa-facebook"></i></a></li>
                <li>
                    <a href="#" class="menu-link menu-bar-link"><i class="fa fa-user"></i> Acceso a estudiantes</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- ***** Inicio de la cabecera ***** -->
    <header class="header-area header-sticky">
        <div class="container-header">
            <div class="content-logo-home">
                <!-- Logo de la cabecera en la página-->
                <a href="#"><img src="../../assets/logos/univafu_blanco.png" alt="" class="logo-home"></a>
            </div>

            <!--Navbar - Lista de opciones-->
            <div class="nav">
                <nav>
                    <a href="javascript:void(0);" class="mobile-menu-trigger"><i class="fa fa-bars"></i></a>
                    <ul class="menu menu-bar">
                        <li>
                            <a id="router-index" href="" class="menu-link menu-bar-link">Inicio</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Colegio
                                del valle del fuerte</a>
                            <ul class="mega-menu mega-menu--multiLevel">
                                <li>
                                    <a id="router-secundaria" href="colegio-valle-fuerte/Secundaria.html"
                                        class="menu-link menu-bar-link">Secundaria</a>
                                </li>
                                <li class="mobile-menu-back-item">
                                    <a href="javascript:void(0);" class="menu-link mobile-menu-back-link"
                                        style="color: #fff">Volver</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Prepa
                                Univafu</a>
                            <ul class="mega-menu mega-menu--multiLevel">
                                <li>
                                    <a id="router-prepa-hs" href="prepa-univafu/higiene-salud.html"
                                        class="menu-link menu-bar-link">Higiene y Salud C.</a>
                                </li>
                                <li>
                                    <a id="router-prepa-ti" href="prepa-univafu/tecnologias.html"
                                        class="menu-link menu-bar-link">Tecnologias</a>
                                </li>
                                <li class="mobile-menu-back-item">
                                    <a href="javascript:void(0);" class="menu-link mobile-menu-back-link"
                                        style="color: #fff">Volver</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Univafu
                                Universidad</a>
                            <ul class="mega-menu mega-menu--multiLevel">
                                <li>
                                    <a href="javascript:void(0);" class="menu-link menu-bar-link"
                                        aria-haspopup="true">Licenciaturas</a>
                                    <ul class="menu menu-list">
                                        <li>
                                            <a id="router-uni-lnut"
                                                href="/univafu-universidad/licenciaturas/nutricion.html"
                                                class="menu-link menu-list-link">Licenciatura en
                                                Nutrición</a>
                                        </li>
                                        <li>
                                            <a id="router-uni-gtyg"
                                                href="/univafu-universidad/licenciaturas/gestion-turistica-gastronomia.html"
                                                class="menu-link menu-list-link">Licenciatura en
                                                Gestión Turística y Gastronomía</a>
                                        </li>
                                        <li>
                                            <a id="router-uni-tfyr"
                                                href="/univafu-universidad/licenciaturas/terapia-fisica.html"
                                                class="menu-link menu-list-link">Licenciatura en Terapia
                                                Fisica y Rehabilitación</a>
                                        </li>
                                        <li>
                                            <a id="router-uni-tayl"
                                                href="/univafu-universidad/licenciaturas/terapia-audicion.html"
                                                class="menu-link menu-list-link">Licenciatura en Terapia
                                                Audición y Lenguaje</a>
                                        </li>
                                        <li>
                                            <a id="router-uni-lmkt"
                                                href="/univafu-universidad/licenciaturas/marketing-digital.html"
                                                class="menu-link menu-list-link">Licenciatura en Marketing
                                                Digital</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="menu-link menu-bar-link"
                                        aria-haspopup="true">Posgrados</a>
                                    <ul class="menu menu-list">
                                        <li>
                                            <a id="router-uni-mdch"
                                                href="/univafu-universidad/posgrados/desarrollo-capital-humano.html"
                                                class="menu-link menu-list-link">Maestría en Desarrollo del Capital
                                                Humano</a>
                                        </li>
                                        <li>
                                            <a id="router-uni-mnch"
                                                href="/univafu-universidad/posgrados/nutricion-clinica.html"
                                                class="menu-link menu-list-link">Maestría en Nutrición Clínica y
                                                Hospitalaria</a>
                                        </li>
                                        <li>
                                            <a id="router-uni-epyr"
                                                href="/univafu-universidad/posgrados/especialidad-prevencion.html"
                                                class="menu-link menu-list-link">Especialidad en Prevención y
                                                Rehabilitación de Lesiones Deportivas</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="mobile-menu-back-item">
                                    <a href="javascript:void(0);" class="menu-link mobile-menu-back-link"
                                        style="color: #fff">Volver</a>
                                </li>
                            </ul>
                        </li>


                        <li>
                            <a id="router-fundacion-cli" href="javascript:void(0);"
                                class="menu-link menu-bar-link">Fundación
                                Univafu</a>

                        </li>
                        <li>
                            <a id="router-idiomas" href="univafu-idiomas/idiomas.html"
                                class="menu-link menu-bar-link">Univafu
                                Idiomas</a>
                        </li>

                        <li class="algebraix">
                            <a href="#" class="menu-link menu-bar-link"><i class="fa fa-user"></i> Acceso a
                                estudiantes</a>
                        </li>
                        <li class="mobile-menu-header">
                            <a href="#" class="">
                                <!-- <span>UNIVAFU</span> -->
                                <a href="#"><img src="../../assets/logos/univafu_blanco.png" alt=""
                                        class="logo-home"></a>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </header>
    <!-- ***** Fin de la cabecera ***** -->

    <!-- ***** Main Banner Area de inicio ***** -->
    <section class="section main-banner" id="top" data-section="section1">
        <img id="bg-video" src="../../assets/images/banners/licenciaturas/banner-ltfyr.jpg"
            alt="Licenciatura en terapia-fisica">

        <div class="video-overlay header-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="caption">
                            <h6>Hola estudiantes</h6>
                            <h2>Bienvenidos univafu</h2>
                            <p>This is an edu notice HTML CSS template provided by <a rel="nofollow"
                                    href="https://templatemo.com/page/1" target="_blank">TemplateMo website</a>. This is
                                a Bootstrap v5.1.3 layout. The video background is taken from Pexels
                                website, a group of young people by <a rel="nofollow"
                                    href="https://www.pexels.com/@pressmaster" target="_blank">Pressmaster</a>.</p>
                            <div class="main-button">
                                <div class="scroll-to-section"><a href="#contact">Accede</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Main Banner Area final ***** -->

    <!-- ABOUT -->
    <!-- Inicio de la Sección About -->
    <section class="about" id="about">
        <div class="grid-about">
            <div class="img1-grid" data-aos="fade-up" data-aos-offset="250" data-aos-delay="300">
                <img src="../../assets/images/about/universidad/licenciaturas/ltal/1.jpg" alt="">
            </div>
            <div class="description" data-aos="fade-left" data-aos-delay="300">
                <div style="border-bottom: 10px solid #ee7f00ce; width: 20%;"></div>
                <h1>Licenciatura en Terapia Física y Rehabilitación</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi minima totam ducimus laboriosam odio
                    suscipit quam voluptas nobis nihil modi ipsa sequi a aperiam, vero, dolorum veritatis, architecto
                    quia accusamus repellendus doloribus! Quas non, dolor eius sit quibusdam at eligendi fugiat ea,
                    cumque ab a pariatur error tenetur numquam blanditiis?</p>
            </div>
            <div class="description" data-aos="fade-right" data-aos-delay="300">
                <div style="border-bottom: 10px solid #ee7f00ce; width: 20%;"></div>
                <h1>Campo profesional</h1>
                <div>
                    <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, quam
                        autem vitae perferendis ex incidunt voluptate. Blanditiis quidem iure temporibus quibusdam
                        consequuntur? Facilis, unde atque temporibus est reprehenderit ex repellendus quam doloribus vel
                        dolor enim ad molestias similique ut nihil? Dicta doloribus odio voluptatem eius in explicabo
                        quo voluptatibus veritatis?</p>
                </div>
            </div>
            <div class="img1-grid" data-aos="fade-up" data-aos-offset="250" data-aos-delay="300">
                <img src="../../assets/images/about/universidad/licenciaturas/ltal/2.jpg" alt="">
            </div>

            <div class="img1-grid" data-aos="fade-up" data-aos-offset="250" data-aos-delay="300">
                <img src="../../assets/images/about/universidad/licenciaturas/ltal/3.jpg" alt="">
            </div>
            <div class="description" data-aos="fade-left" data-aos-delay="300">
                <div style="border-bottom: 10px solid #ee7f00ce; width: 20%;"></div>
                <h1>Perfil de Ingreso</h1>
                <div>
                    <ul style="padding: 10px 20px;">
                        <li style="list-style: circle;" *ngFor="let aboutDesc3 of about.lista3">Lorem ipsum dolor sit
                            amet consectetur, adipisicing elit. Nemo expedita quia saepe, magnam consectetur nobis
                            laboriosam ex veritatis illo voluptatem!</li>
                        <li style="list-style: circle;" *ngFor="let aboutDesc3 of about.lista3">Lorem ipsum dolor sit
                            amet consectetur, adipisicing elit. Nemo expedita quia saepe, magnam consectetur nobis
                            laboriosam ex veritatis illo voluptatem!</li>
                        <li style="list-style: circle;" *ngFor="let aboutDesc3 of about.lista3">Lorem ipsum dolor sit
                            amet consectetur, adipisicing elit. Nemo expedita quia saepe, magnam consectetur nobis
                            laboriosam ex veritatis illo voluptatem!</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin de la Sección About -->



    <!-- *********************************************************** -->
    <!-- ***************   ACORDION CARGA ACADEMICA    ************* -->
    <!-- *********************************************************** -->
    <!-- CARGA ACADEMICA ACORDION-->
    <div class="accordion p-5" id="accordionExample" style="background-color: rgb(233, 233, 233)">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                    aria-expanded="true" aria-controls="collapse1">
                    1er Semestre
                </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
                data-bs-parent="#accordionExample">
                <div class="">
                    <div>
                        <ul>
                            <li class="mx-5 my-2">Anatomía Humana</li>
                            <li class="mx-5 my-2">Fisiología</li>
                            <li class="mx-5 my-2">Histoembriología</li>
                            <li class="mx-5 my-2">Fundamentos de Fisioterapia y Rehabilitación</li>
                            <li class="mx-5 my-2">Principios Físicos de la Fisioterapia</li>
                            <li class="mx-5 my-2">Taller de Expresión Oral y Escrita</li>
                            <li class="mx-5 my-2">Tecnologías de Información y Comunicación (TIC'S)</li>
                            <li class="mx-5 my-2">Valores Humanos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    2do Semestre
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="">
                    <div>
                        <ul>
                            <li class="mx-5 my-2">Anatomía Humana II</li>
                            <li class="mx-5 my-2">Bioquímica</li>
                            <li class="mx-5 my-2">Evaluación Funcional I</li>
                            <li class="mx-5 my-2">Agentes Físicos I</li>
                            <li class="mx-5 my-2">Análisis de la Información</li>
                            <li class="mx-5 my-2">Inglés I</li>
                            <li class="mx-5 my-2">Bioestadística</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                    aria-expanded="true" aria-controls="collapseThree">
                    3er Semestre
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="">
                    <div>
                        <ul>
                            <li class="mx-5 my-2">Psicología en la Rehabilitación</li>
                            <li class="mx-5 my-2">Evaluación Funcional II</li>
                            <li class="mx-5 my-2">Agentes Físicos II</li>
                            <li class="mx-5 my-2">Kinesiología</li>
                            <li class="mx-5 my-2">Metodología de la Investigación</li>
                            <li class="mx-5 my-2">Inglés II</li>
                            <li class="mx-5 my-2">Ergonomía</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                    aria-expanded="true" aria-controls="collapseFour">
                    4to Semestre
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="">
                    <div>
                        <ul>
                            <li class="mx-5 my-2">Imagenología</li>
                            <li class="mx-5 my-2">Neurodesarrollo</li>
                            <li class="mx-5 my-2">Rehabilitación Infantil</li>
                            <li class="mx-5 my-2">Propedéutica Clínica</li>
                            <li class="mx-5 my-2">Kinesioterapia</li>
                            <li class="mx-5 my-2">Desarrollo Sustentable</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                    aria-expanded="true" aria-controls="collapseFive">
                    5to Semestre
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                data-bs-parent="#accordionExample">
                <div class="">
                    <div>
                        <ul>
                            <li class="mx-5 my-2">Farmacología</li>
                            <li class="mx-5 my-2">Neurología del Adulto</li>
                            <li class="mx-5 my-2">Rehabilitación Geriátrica y Gerontología</li>
                            <li class="mx-5 my-2">Prácticas Clínicas I</li>
                            <li class="mx-5 my-2">Masoterapia</li>
                            <li class="mx-5 my-2">Liderazgo</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                    aria-expanded="true" aria-controls="collapseSix">
                    6to Semestre
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                data-bs-parent="#accordionExample">
                <div class="">
                    <div>
                        <ul>
                            <li class="mx-5 my-2">Nutrición en la Rehabilitación</li>
                            <li class="mx-5 my-2">Terapias Alternativas en Reumatología </li>
                            <li class="mx-5 my-2">Rehabilitación Especial</li>
                            <li class="mx-5 my-2">Prácticas Clínicas II</li>
                            <li class="mx-5 my-2">Ortopedia y Traumatología </li>
                            <li class="mx-5 my-2">Medicina Preventiva y Salud Pública</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                    aria-expanded="true" aria-controls="collapseSeven">
                    7mo Semestre
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                data-bs-parent="#accordionExample">
                <div class="">
                    <div>
                        <ul>
                            <li class="mx-5 my-2">Rehabilitación en la Actividad Física</li>
                            <li class="mx-5 my-2">Rehabilitación Cardiorespiratoria</li>
                            <li class="mx-5 my-2">Prótesis y Órtesis</li>
                            <li class="mx-5 my-2">Cultura Emprendedora</li>
                            <li class="mx-5 my-2">Gestión de la Calidad</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight"
                    aria-expanded="true" aria-controls="collapseEight">
                    8vo Semestre
                </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                data-bs-parent="#accordionExample">
                <div class="">
                    <div>
                        <ul>
                            <li class="mx-5 my-2">Terapia Ocupacional</li>
                            <li class="mx-5 my-2">Seminario de Trabajo de Investigación</li>
                            <li class="mx-5 my-2">Desarrollo de Emprendedores</li>
                            <li class="mx-5 my-2">Bioética</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingNine">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine"
                    aria-expanded="true" aria-controls="collapseNine">
                    Servicio Social
                </button>
            </h2>
            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                data-bs-parent="#accordionExample">
                <div class="">
                    <div>
                        <ul>
                            <li class="mx-5 my-2">El servicio social es obligatorio para los alumnos y egresados de
                                educación superior incorporadas a SEPyC, y es requisito previo para la obtención del
                                título correspondiente.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN DE CARGA ACADEMICA ACORDION-->


    <!-- Inicio del contenedor del Footer -->
    <div class="footer">
        <p>Copyright © 2022 Univafu , Todos los derechos reservados.
        </p>
        <div class="grid-redes">
            <a href="https://es-la.facebook.com/univafu.oficial/" target="_blank" style="color: #fff;"><i
                    class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/univafu_oficial" target="_blank" style="color: rgb(255, 255, 255);"> <i
                    class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/univafuuniversidad/" target="_blank" style="color: rgb(255, 255, 255);">
                <i class="fa fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCI-WuL54rFKE2BvUewkTyPg" target="_blank"
                style="color: rgb(255, 255, 255);"> <i class="fa fa-youtube"></i></a>
        </div>
        <a href="http://127.0.0.1/avisoPrivacidad.html" id="router-privacidad" class="aviso-privacidad">Aviso de
            privacidad</a>

    </div>
    <!-- Fin del contenedor del Footer -->

    <script src="../../assets/js/navigation.js"></script>


    <!-- script de bootstrap 5.2 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>


    <script src="../../assets/js/isotope.min.js"></script>
    <script src="../../assets/js/custom.js"></script>
</body>

</html>